<h2>DESCRIPTION</h2>

<em>r.stream.accessibility</em> assesses the accessibility of river networks for 
anadromous fish species based on a model by Hedger et al. 2019 using distance
andnumber of roadcrossings downstreams as input parameters.

The user can replace default model coeficients and effects with own values.

<h2>EXAMPLE</h2>

TBD

<h2>REFERENCES</h2>

TBD

<h2>SEE ALSO</h2>

<em>
<a href="r.stream.distance.html">g.region</a>,
<a href="r.stream.culvert.html">r.mapcalc</a>
</em>

<h2>AUTHORS</h2>

Stefan Blumentrath, <a href="https://www.nina.no/Kontakt/Ansatte/Ansattinformasjon.aspx?AnsattID=14230">NINA, Oslo, Norway</a>
Richard Hedger, <a href="https://www.nina.no/Kontakt/Ansatte/Ansattinformasjon.aspx?AnsattID=14193/">NINA, Trondheim, Norway</a>
